<div class="container">
  <div class="col">
    <div class="alert alert-danger col mt-4" role="alert">
      ToodoApp work!
    </div>
  </div>

  <form class="input-group col-4">
    <input [(ngModel)]="newTodo" name="newTodo" class="form-control"/>
    <button (click)="addTodo()" type="submit" class="btn btn-primary">Add Todo</button>
  </form>

  <ul>
    <li *ngFor="let task of list">
      <input type="checkbox" [(ngModel)]="task.done"/>
      {{task.name}}
    </li>
  </ul>

  <hr>

  <h3>Debug Stuff</h3>
<button class="btn btn-sm" (click)="toggle()">Show debug</button>
  <pre *ngIf="show">{{list | json}}</pre>
</div>
